rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function allowed() {
      return request.auth != null &&
        request.auth.token.email in [
          "roel.heremans@gmail.com",
          "reissnina@gmail.com"
        ];
    }
    match /{document=**} {
      allow read, write: if allowed();
    }
  }
}
